* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5EFFF;
  height: 100%;
}

.loginCard {
  height: 300px;
  width: 35%;
  background-color: #E5D9F2;
}

.loginContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}